* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* -------------------------------------------- HEADER --------------------------------------------------------------- */

header {
    margin: 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.hidden {
    display: none !important;
}

/* MENU */

.menu1 ul {
    display: flex;
    gap: 22px;
    list-style-type: none;
    margin-top: 70px;
}

.menu1 a {
    color: var(--primaryColor);
    text-decoration: none;
    font-family: var(--mainFont);
    letter-spacing: -1.0px;
    font-size: 20px;
}

.menu1 a:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--accentColor);
}

.menu1 .down-arrow {
    margin-left: 3px;
    width: 30px;
    height: 36px;
    vertical-align: middle;
    stroke: var(--primaryColor);
    transform: translateY(-4px);
}

.menu1 a:hover .down-arrow {
    transform: scale(1.1);
    transform: translateY(-4px);
    stroke: var(--secondaryColor);
}

/* SEARCH */

.menuAndSearch {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.search {
    position: relative;
}

.search input {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 17px;
    font-family: var(--decorativeFont1);
    width: 480px;
    height: 30px;
    border: 2px solid var(--primaryColor);
    transform: translateY(-20px);
}

.search.active input {
    display: block;
}

.search input:focus {
    outline: none;
    box-shadow: 0 0 0 0.8px var(--primaryColor);
}

/* LOGO */

.logo {
    margin-top: 18px;
    width: 110px;
    height: 90px;
}


/* ICONS */

.icons {
    align-items: center;
    margin-top: 20px;
    display: flex;
    gap: 0px;
}

.icon1,
.icon2 {
    width: 50px;
}

.icon1 {
    height: 50px;
    transform: translateY(6px)
}

.icon2 {
    height: 60px;
    transform: translate(8px, 6px);
}

.icon3 {
    width: 40px;
    height: 38px;
    transform: translate(-4px, 4px);
}

.icon4 {
    width: 70px;
    height: 70px;
    transform: translate(-18px, -6px);
}

/* ---------------------------------------------------------- HOME PAGE ----------------------------------------------------------- */
/* ----------------------------------------------------------SECTION 1----------------------------------------------------------------------- */

/* HERO SECTION */

/* IMAGES */

.heroImage {
    object-fit: cover;
    width: 89%;
    height: 500px;
    margin: 40px 80px;
}

.heroImage2 {
    object-fit: cover;
    width: 89%;
    height: 500px;
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 80px;
    display: block;
    transform: translateY(-42px);
}

.heroText1,
.heroText2,
.hero-Text2 {
    font-family: var(--mainFont);
    margin: 12px 80px;
}

.heroText1 {
    font-weight: 500;
    font-size: 25px;
}

.heroText2,
.hero-Text2 {
    font-size: 21px;
}

.heroText2 {
    width: 69%;
}

.hero-Text2 {
    width: 89%;
}

/* ----------------------------------------------------------SECTION 2----------------------------------------------------------------------- */
/* ---------------------------------------------------------- BOOKS. KUNST ----------------------------------------------------------------------- */


.mainBooks {
    margin: 80px 80px;
}

/* TITEL */

.a-booksText {
    font-size: 66px;
    font-family: var(--decorativeFont2);
    width: fit-content;
    height: fit-content;
}

.a-booksText:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--accentColor);
}

/* IMAGES */

#artBooks {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
}

.a-booksImage {
    width: 270px;
    height: 300px;
    object-fit: cover;
}

/* BLOCK FOR ART BOOK */

.a-book {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    font-family: "Feijoa";
    align-items: center;

}

.a-book:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: 2px solid var(--accentColor);
}

.a-name {
    font-weight: bold;
    font-size: 20px;
}

.a-author {
    font-size: 16px;
}

.a-tags {
    font-size: 14px;
}

.a-price {
    font-size: 16px;
}


/* ----------------------------------------------------------SECTION 3----------------------------------------------------------------------- */
/* ------------------------------------------------------ BOOKS. PAGE WITH BOOKS -------------------------------------------------------- */

.booksPage {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 70px;
    margin: 120px 80px;
    height: fit-content;
}

/* MENU 2 */

.menu2 ul {
    display: flex;
    flex-direction: column;
    gap: 38px;
    list-style-type: none;
}

.menu2 ul li a {
    font-family: var(--mainFont);
    letter-spacing: -1.0px;
    font-size: 26px;
}

.menu2 ul li a:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    transform: scale(2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid var(--accentColor);
}

/* PAGE WITH BOOKS */

#pageWithBooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    text-align: center;
    align-items: start;
}

/* BOOK */

.book {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Feijoa";
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: 2px solid var(--accentColor);
}


.booksImage {
    width: 200px;
    height: 290px;
    object-fit: cover;
}

.booksName {
    font-weight: bold;
    font-size: 20px;
}

.booksAuthor {
    font-size: 16px;
}

.booksTags {
    font-size: 14px;
    min-height: 40px;
}

.booksPrice {
    font-size: 16px;
}

/* ----------------------------------------------------- PAGINATION ------------------------------------------------------------------------- */

.pagesWithPagination {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.roman-pagination {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roman-radio {
    margin: 0 8px;
    color: #969696;
    font-family: var(--decorativeFont1);
    font-size: 17px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked~span {
    color: black;
}

input[type="radio"]:checked~.title {
    display: inline;
    margin-left: 0;
}

.title {
    display: none;
    margin-left: -16px;
}

/* -------------------------------------------- LIKE SYSTEM + ADD TO CART SYSTEM --------------------------------------------------------- */

.actionButtons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    margin-right: 30px;
    margin-bottom: 12px;
}

.like-Button,
.cart-Button {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
}

.like-Button {
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/heart3.png");
}

.like-Button:hover {
    transform: scale(1.2);
}

.cart-Button {
    width: 25px;
    height: 25px;
    background-image: url("/assets/icons/basket.png");
}

.cart-Button:hover {
    transform: scale(1.2);
}

.a-book:hover .like-Button {
    background-image: url("/assets/icons/heart5.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--accentColor);
}

.a-book:hover .cart-Button {
    background-image: url("/assets/icons/basket4.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--accentColor);
}

.like-Button.liked {
    background-image: url("/assets/icons/heartnew.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--accentColor);
}

.book:hover .like-Button {
    background-image: url("/assets/icons/heart5.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--accentColor);
}

.book:hover .cart-Button {
    background-image: url("/assets/icons/basket4.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--accentColor);
}

/* ----------------------------------------------- PROFILE PAGE ------------------------------------------------------------------------ */

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.profilePage {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    text-align: left;

    width: max-content;
    height: 350px;
    padding: 24px;

    margin: 0 auto;
}

.profilePage:hover {
    background-color: var(--primaryColor);
    border: 2px solid var(--accentColor);
}

.profilePage:hover p {
    color: var(--secondaryColor);
}

.profilePage:hover label {
    color: var(--secondaryColor);
}

.profilePage:hover .login-Button {
    background-color: var(--secondaryColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--secondaryColor) 0 -3px 0 inset;
    color: var(--primaryColor);
}

.profilePage:hover .registr-Button {
    background-color: var(--secondaryColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--secondaryColor) 0 -3px 0 inset;
    color: var(--primaryColor);
}

.profilePage label {
    text-align: left;
    font-size: 17px;
    font-family: var(--mainFont);
    margin-bottom: 12px;
    color: var(--primaryColor);
}

.profilePage p {
    font-size: 17px;
    font-family: var(--mainFont);
    color: var(--primaryColor);
}

.login {
    display: flex;
    flex-direction: column;
}

.email,
.password {
    font-size: 17px;
    font-family: var(--decorativeFont1);
    width: 400px;
    height: 28px;
    border: 2px solid var(--primaryColor);
    margin-bottom: 18px;
}

.login-Button,
.registr-Button {
    color: var(--secondaryColor);
    font-size: 17px;
    font-family: var(--mainFont);

    letter-spacing: 1.3px;
    background-color: var(--primaryColor);
    border-radius: 2px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--primaryColor) 0 -3px 0 inset;
    box-sizing: border-box;
    height: 38px;
    width: 160px;
    color: var(--secondaryColor);
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.login-Button {
    margin: 0 auto;
    transform: translateY(10px);
}

.registr-Button {
    transform: translateY(-10px);
}

.messages {
    font-size: 17px;
    font-family: var(--mainFont);
    margin-top: 24px;
}

/* REGISTRATION */

.registr {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 24px;
    margin: 0 auto;
}

.form label {
    text-align: left;
    font-size: 17px;
    font-family: var(--mainFont);
    margin-bottom: 12px;
    color: var(--primaryColor);
}

.form input {
    font-size: 17px;
    font-family: var(--decorativeFont1);
    width: 400px;
    height: 28px;
    border: 2px solid var(--primaryColor);
    margin-bottom: 4px;
}

.form button {
    margin-top: 12px;
    color: var(--secondaryColor);
    font-size: 17px;
    font-family: var(--mainFont);

    letter-spacing: 1.6px;
    background-color: var(--primaryColor);
    border-radius: 2px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--primaryColor) 0 -3px 0 inset;
    box-sizing: border-box;
    height: 38px;
    width: 160px;
    color: var(--secondaryColor);
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
}

#r-passwordMessage {
    font-size: 17px;
    font-family: var(--mainFont);
    margin-top: 24px;
}

#r-message {
    font-size: 17px;
    font-family: var(--mainFont);
    margin-top: 24px;
}

.form:hover {
    background-color: var(--primaryColor);
    border: 2px solid var(--accentColor);
}

.form:hover label {
    color: var(--secondaryColor);
}

.form:hover input {
    border: 2px solid var(--secondaryColor);
}

.form:hover button {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--secondaryColor) 0 -3px 0 inset;
    color: var(--primaryColor);
}

/* ACCOUNT */

.prof {
    margin: 80px 430px;
    font-family: var(--mainFont);
}

.profTitel {
    font-size: 33px;
    margin-bottom: 40px;
}

.profWillkommen {
    font-size: 17px;
    margin-bottom: 80px;
}

.profList,
.profOrders {
    font-size: 17px;
    margin-bottom: 20px;
}

.prof .down-arrow {
    width: 30px;
    height: 36px;
    vertical-align: middle;
    stroke: var(--primaryColor);
    transform: translateY(-1px);
}

/* -------------------------------------------------- FAVORITES SEITE -------------------------------------------------------------------- */

.favoritesPage {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 20px 80px;
    justify-content: center;
}

.favTitel {
    font-size: 22px;
    font-family: var(--mainFont);
    margin: 0 auto;
}

.favIcon1 {
    width: 54px;
    height: 54px;
    transform: translate(-5px, 22px);
}

.favoritesContainer {
    margin-top: 50px;
    border: var(--accentColor);
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 32px;
    text-align: center;
    align-items: start;
    justify-content: center !important;
}



/* ---------------------------------------------------- WARENKORB SEITE --------------------------------------------------------------- */

.cart-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 60px 80px;
    justify-content: center;
    align-items: center;
}

.cartTitel {
    font-size: 22px;
    font-family: var(--mainFont);
}

.cartContainer {
    margin-top: 40px;
    border: var(--accentColor);
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 32px;
    text-align: center;
    align-items: start;
    justify-content: center !important;
}

.booksSum,  .noBooks, .text1, .booksCount {
    font-size: 22px;
    font-family: var(--mainFont);
    text-align: center;
}

.text1, .booksSum {
    margin-top: 10px;
}

.booksCount {
    margin-top: 40px;
}

/* -----------------------------------------------  BOOKS DESCRIPTION PAGE------------------------------------------------------------------------------- */

.description {
    margin: 90px 80px;
    display: grid;
    grid-template-columns: 650px 1fr;
    font-family: var(--mainFont);
    justify-content: center;
}

.descriprion-image {
    margin: 0 100px;
    object-fit: contain;
    width: 500px;
    height: 400px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-size: 18px;
}

.description-name {
    font-size: 28px;
    font-weight: 500;
}

.description-summary {
    width: 500px;
}

.description-price,
.description-tags {
    font-weight: 500;
}


.description-like-Button,
.description-cart-Button {

    font-size: 17px;
    font-family: var(--mainFont);
    letter-spacing: 1.6px;
    border-radius: 2px;
    border-width: 0;
    box-sizing: border-box;
    height: 38px;
    width: fit-content;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
}

.description-actionButtons {
    display: flex;
    gap: 26px;
    margin-top: 30px;
}

.description-cart-Button {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--primaryColor) 0 -3px 0 inset;
}

.description-like-Button {
    color: var(--secondaryColor);
    background-color: var(--accentColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--accentColor) 0 -3px 0 inset;
}

.description-like-Button.liked {
    background-color: var(--primaryColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--primaryColor) 0 -3px 0 inset;
}

.description-cart-Button.clicked {
    color: var(--secondaryColor);
    background-color: var(--accentColor);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--accentColor) 0 -3px 0 inset;
}

/* ------------------------------------------------ FOOTER ------------------------------------------------------------- */


#animatedSvg {
    margin-top: -40px;
    transform: translateY(-20px);
}

footer {
    margin: 0 80px;
}

footer .materials ul {
    list-style-type: none;
    transform: translateY(-360px);
}

footer .materials li {
    font-family: var(--mainFont);
}

.footerText {
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: 400;
}

footer .materials a {
    color: red;
    font-size: 17px;
    text-decoration: none;
}

.footer,
.impressumFooter,
.kontaktFooter,
.profileFooter {
    display: flex;
    flex-direction: row;
    gap: 70px;
    list-style-type: none;
    font-family: var(--mainFont);
    font-size: 17px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer a,
.profileFooter a {
    text-decoration: none;
    color: var(--primaryColor);
}

.aboutShop {
    transform: translateY(-200px);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-end;
    max-width: 600px;
    margin-left: auto;
    margin-right: 80px;
    font-family: var(--mainFont);
}

.abc {
    font-family: "Aktura";
    font-size: 44px;
    color: red;
}

.about {
    font-weight: 500;
    font-size: 22px;
}

.abc1 {
    font-family: "Aktura";
    font-size: 44px;
    color: var(--primaryColor);
}

.contact {
    transform: translateY(40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: flex-start;
    max-width: 600px;
    margin-left: 80px;
    font-family: var(--mainFont);
}

.profileFooter {
   margin-top: 0;
}


/* ------------------------------------- IMPRESSUM, DATENSHUTZ, KONTAKT SEITE ---------------------------------------------------- */

.impressum {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    font-family: var(--mainFont);
}

.impressumTitel {
    font-weight: 500;
    font-size: 33px !important;
    margin-bottom: 10px;
}

.impressumUntertitel {
    font-weight: 500;
}

.impressum p {
    text-align: left;
    max-width: 620px;
    width: 100%;
    font-size: 17px;
}

.impressumFooter a {
    text-decoration: none;
    color: var(--primaryColor);
}

.impressumFooter {
    margin-top: 40px;
}

.kontaktFooter {
    margin-top: 300px;
}

.kontaktFooter a {
    color: var(--primaryColor);
    text-decoration: none;
}

.impressum p a {
    color: var(--primaryColor);
}

