:root {
    --primaryColor: black;
    --secondaryColor: white;
    --accentColor: rgb(191, 2, 2);

    --mainFont: "Untitled";
    --decorativeFont1: "Feijoa";
    --decorativeFont2: "Maelstrom_Sans";
    --decorativeFont3: "Maelstrom_Bold";
}